@import "variables";

/* common styles start */
body {
    .mp0;
    .default-font;
    color: @font-color;
}
div, span, img, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset {
    .mp0;
}
img{
	border: 0;
}
li {
    list-style-type: none;
}
table {
    border: 0;
    border-collapse: collapse;
}
a {
    .link-color-func(#000, #000);
}

.mt5{
	margin-top: 5px;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.padtop10{
	padding-top: 10px;
}
.padtop20{
	padding-top: 20px;
}
.mt25{
	margin-top: 25px;
}
.tgc{
	text-align: center;
}
.hide{
	display: none;
}
.clearfix:after {
    content:" ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1; /* IE6, IE7 hack */
}